{% include 'structure/header.twig' %}

<section class="container">
    <div id="login">
        <h1>{{ titrePage }}</h1>
        <form class="formLogin">
            <div class="formLogin">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="email" autocomplete="email">
                    <label class="mdl-textfield__label" for="email">Saisissez votre email ou votre surnom</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input passwordLogin" type="password" id="password" autocomplete="current-password">
                    <label class="mdl-textfield__label" for="password">Mot de passe</label>
                </div>
            </div>
            <button id="loginButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" onclick="login()" style="margin-top: 1rem;">Connexion</button>
        </form>
        <a class="mdl-navigation__link" href="/signup">Pas encore inscrit ?</a>
    </div>

    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</section>

<div id="loader" style="display: none;">
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
</div>



</div>
</main>
</div>
</body>

<script src="/js/user/login.js"></script>

</html>